[data-maintenance-usuario="true"] .maintenance-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*Estilos de Input*/
.custom-input {
  width: 200px;
  margin: 5px 5px 5px; /* Modificado el margen superior */
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*Estilos de Label*/
.custom-label {
  font-size: 12px;
  margin-left: 20px;
  margin-right: 5px;
  flex-grow: 1; /* Permite que el label se expanda según su contenido */
}

/* Estilos básicos del select */
.custom-select {
  width: 150px; /* Ancho del select */
  padding: 5px; /* Espacio interno alrededor del contenido */
  font-size: 12px; /* Tamaño de la fuente */
  border: 1px solid #ccc; /* Borde del select */
  border-radius: 5px; /* Esquinas redondeadas */
  outline: none; /* Elimina el resaltado del borde al hacer clic */
  cursor: pointer; /* Cambia el cursor al pasar sobre el select */
}

.custom-select:focus {
  border-color: #7125ff; /* Color del borde al estar enfocado */
}

.custom-select::after {
  content: '\25BC'; /* Código de la flecha hacia abajo */
  position: absolute; /* Posición absoluta en relación con el select */
  top: 50%; /* Alinea verticalmente el ícono en el centro */
  right: 10px; /* Alinea el ícono a la derecha del select */
  transform: translateY(-50%); /* Ajusta la posición vertical del ícono */
  pointer-events: none; /* Evita que el ícono interfiera con el clic en el select */
}


/*Estilos del Formulario*/

[data-maintenance-usuario="true"] .formulario-container {
  margin-top: 60px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column; /* Establece la dirección principal como columna */
  width: auto;
  height: 100%; /* Establece la altura al 100% para que se expanda */
}

[data-maintenance-usuario="true"] .formulario {
  margin-top: 60px;
  margin-bottom: auto;
  display: flex;
  flex: 1;
  width: auto;
  height: 300px;
  min-height: 500px;
  max-height: 800px;
  flex-grow: 1; /* Hace que el formulario se expanda para ocupar el espacio disponible */
  flex-direction: column; /* Establece la dirección principal como columna */
}

/*Alineación de Barra de Busqueda y Botones*/
[data-maintenance-usuario="true"] .form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Barra de Busqueda*/
[data-maintenance-usuario="true"] .search-container {
  position: relative;
}

[data-maintenance-usuario="true"] .search-input {
  padding-left: 30px;
  border-radius: 10px;
  width: 400px;
  height: 40px;
}

[data-maintenance-usuario="true"] .search-input:focus {
  outline: none;
  border-color: #9d00ff;
}

[data-maintenance-usuario="true"] .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
}



/* Estilos del contenedor principal */
.input-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

/* Estilos de los contenedores secundarios */
.checkbox-container,
.flex-row {
  display: flex;
  align-items: center;
}

.estado-container {
  display: flex;
  align-items: center;
  margin-right: 0px; /* Ajusta el margen entre el estado y el checkbox */
}

.estado-label {
  margin-right: 15px;
  margin-left: 5px; /* Ajusta el margen entre el label y el texto */
  font-size: 12px; /* Ajusta el tamaño de la fuente */
  flex-grow: 1; /* Permite que el label se expanda según su contenido */
  flex-shrink: 0; /* Evita que el label se encoja más allá de su contenido */
}


  /*Estilos de Botones*/
  [data-maintenance-usuario="true"] .submit {
    border-radius: 20px;
    background: #7300f7;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 0 10px;
  }  

  .submit:hover {
    background-color: #9660d4;
    color: white;
  }

  /* Estilos específicos para los botones con iconos */
  .icon-button {
    background-color: #7300f7; /* Color de fondo para estos botones específicos */
    color: white; /* Color del texto del botón */
    width: 140px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .icon-button:hover {
    background-color: #9660d4; /* Cambia el color de fondo al pasar el mouse */
  }

  /* Estilos para la tabla */
  [data-maintenance-usuario="true"] .tabla-usuarios {
    margin-top: 0px;
    font-size: 14px;
    max-height: 90px;/*Limita la altura de la tabla para evitar que se pase al contenedor de los campos*/
 /* overflow-y: auto;  Permite el scroll vertical si la tabla excede la altura */
  }
  
  [data-maintenance-usuario="true"] .table {
    width: 100%;
    margin-top: 50px;
  }
  
  [data-maintenance-usuario="true"] .table th,
  .table td{
    text-align: center;
    min-width: 150px;
    padding: 5px;
  }
  
  [data-maintenance-usuario="true"] .table thead th {
    background-color: #7300f7; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
  }
  
  [data-maintenance-usuario="true"] .table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Color de fondo de filas pares */
  }
  
  [data-maintenance-usuario="true"] .table-hover tbody tr:hover {
    background-color: #b187ff; /* Color de fondo al pasar el cursor */
  }



/*Otros estilos relacionados con la pantalla*/
/*[data-maintenance-usuario="true"] .form-container .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}*/

/*
[data-maintenance-usuario="true"] .input-container .flex-row {
  display: flex; 
  align-items: center; 
  }
*/

/*
  [data-maintenance-usuario="true"] .role-select-container {
  margin-left: 10px; 
  }
*/

/*
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 12px;
  }
*/


