#Formulario{
    background-color: aliceblue;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;

}

#Titulo{
    color: rgb(91, 0, 182);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

button{
    position: absolute;
    bottom: 0;
}

#crear{
    margin-right: 100px;
}

#cancelar{
    margin-left: 200px;
}

  

  